main.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.26.54.24096",
      "templateHash": "12356939022190195886"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources"
      }
    },
    "environmentName": {
      "type": "string",
      "defaultValue": "dev",
      "metadata": {
        "description": "Environment name (e.g., dev, test, prod)"
      }
    },
    "adminUnitId": {
      "type": "string",
      "metadata": {
        "description": "Admin Unit GUID to monitor"
      }
    },
    "provisioningApiEndpoint": {
      "type": "string",
      "metadata": {
        "description": "API-driven provisioning endpoint URL"
      }
    },
    "alertEmailAddresses": {
      "type": "array",
      "metadata": {
        "description": "Email addresses for alerts (comma-separated)"
      }
    },
    "deployMonitoring": {
      "type": "bool",
      "defaultValue": false,
      "metadata": {
        "description": "Deploy monitoring alerts (set to false for initial deployment, enable after custom log table exists)"
      }
    },
    "tags": {
      "type": "object",
      "defaultValue": {
        "Environment": "[parameters('environmentName')]",
        "Application": "HybridUserSync",
        "ManagedBy": "Bicep"
      },
      "metadata": {
        "description": "Tags to apply to all resources"
      }
    }
  },
  "variables": {
    "resourcePrefix": "[format('hybriduser-{0}', parameters('environmentName'))]",
    "keyVaultName": "[take(format('kv-{0}-{1}', variables('resourcePrefix'), uniqueString(resourceGroup().id)), 24)]",
    "logicAppName": "[format('logic-{0}', variables('resourcePrefix'))]",
    "logAnalyticsName": "[format('log-{0}', variables('resourcePrefix'))]",
    "actionGroupName": "[format('ag-{0}', variables('resourcePrefix'))]",
    "deadLetterStorageName": "[take(format('stdl{0}{1}', parameters('environmentName'), uniqueString(resourceGroup().id)), 24)]"
  },
  "resources": [
    {
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2023-07-01",
      "name": "[variables('keyVaultName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "sku": {
          "family": "A",
          "name": "standard"
        },
        "tenantId": "[subscription().tenantId]",
        "enableRbacAuthorization": true,
        "enableSoftDelete": true,
        "softDeleteRetentionInDays": 90,
        "enablePurgeProtection": true,
        "networkAcls": {
          "defaultAction": "Allow",
          "bypass": "AzureServices"
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-01-01",
      "name": "[variables('deadLetterStorageName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "accessTier": "Hot",
        "supportsHttpsTrafficOnly": true,
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices",
      "apiVersion": "2023-01-01",
      "name": "[format('{0}/{1}', variables('deadLetterStorageName'), 'default')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('deadLetterStorageName'))]"
      ]
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2023-01-01",
      "name": "[format('{0}/{1}/{2}', variables('deadLetterStorageName'), 'default', 'deadletter')]",
      "properties": {
        "publicAccess": "None"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', variables('deadLetterStorageName'), 'default')]"
      ]
    },
    {
      "type": "Microsoft.OperationalInsights/workspaces",
      "apiVersion": "2023-09-01",
      "name": "[variables('logAnalyticsName')]",
      "location": "[parameters('location')]",
      "tags": "[parameters('tags')]",
      "properties": {
        "sku": {
          "name": "PerGB2018"
        },
        "retentionInDays": 90
      }
    },
    {
      "type": "Microsoft.Insights/actionGroups",
      "apiVersion": "2023-01-01",
      "name": "[variables('actionGroupName')]",
      "location": "global",
      "tags": "[parameters('tags')]",
      "properties": {
        "copy": [
          {
            "name": "emailReceivers",
            "count": "[length(parameters('alertEmailAddresses'))]",
            "input": {
              "name": "[format('Email{0}', copyIndex('emailReceivers'))]",
              "emailAddress": "[parameters('alertEmailAddresses')[copyIndex('emailReceivers')]]",
              "useCommonAlertSchema": true
            }
          }
        ],
        "groupShortName": "[take('HybridUser', 12)]",
        "enabled": true
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "logicapp-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[variables('logicAppName')]"
          },
          "keyVaultName": {
            "value": "[variables('keyVaultName')]"
          },
          "adminUnitId": {
            "value": "[parameters('adminUnitId')]"
          },
          "provisioningApiEndpoint": {
            "value": "[parameters('provisioningApiEndpoint')]"
          },
          "deadLetterStorageAccountName": {
            "value": "[variables('deadLetterStorageName')]"
          },
          "deadLetterContainerName": {
            "value": "deadletter"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
          },
          "logAnalyticsCustomerId": {
            "value": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), '2023-09-01').customerId]"
          },
          "logAnalyticsPrimaryKey": {
            "value": "[listKeys(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), '2023-09-01').primarySharedKey]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.26.54.24096",
              "templateHash": "4029342854916502394"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for the Logic App"
              }
            },
            "logicAppName": {
              "type": "string",
              "metadata": {
                "description": "Name of the Logic App"
              }
            },
            "keyVaultName": {
              "type": "string",
              "metadata": {
                "description": "Key Vault name"
              }
            },
            "adminUnitId": {
              "type": "string",
              "metadata": {
                "description": "Admin Unit GUID"
              }
            },
            "provisioningApiEndpoint": {
              "type": "string",
              "metadata": {
                "description": "Provisioning API endpoint"
              }
            },
            "deadLetterStorageAccountName": {
              "type": "string",
              "metadata": {
                "description": "Dead Letter Storage Account name"
              }
            },
            "deadLetterContainerName": {
              "type": "string",
              "metadata": {
                "description": "Dead Letter Container name"
              }
            },
            "logAnalyticsWorkspaceId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics Workspace ID"
              }
            },
            "logAnalyticsCustomerId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics Workspace Customer ID (GUID)"
              }
            },
            "logAnalyticsPrimaryKey": {
              "type": "securestring",
              "metadata": {
                "description": "Log Analytics Workspace Primary Shared Key"
              }
            },
            "tags": {
              "type": "object",
              "metadata": {
                "description": "Tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('logicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    },
                    "keyVaultName": {
                      "defaultValue": "[parameters('keyVaultName')]",
                      "type": "String"
                    },
                    "adminUnitId": {
                      "defaultValue": "[parameters('adminUnitId')]",
                      "type": "String"
                    },
                    "provisioningApiEndpoint": {
                      "defaultValue": "[parameters('provisioningApiEndpoint')]",
                      "type": "String"
                    },
                    "deadLetterStorageAccount": {
                      "defaultValue": "[parameters('deadLetterStorageAccountName')]",
                      "type": "String"
                    },
                    "deadLetterContainer": {
                      "defaultValue": "[parameters('deadLetterContainerName')]",
                      "type": "String"
                    },
                    "disableSourceOfAuthorityUpdate": {
                      "defaultValue": false,
                      "type": "Bool"
                    },
                    "allowedAdminUnitNames": {
                      "defaultValue": [],
                      "type": "Array"
                    }
                  },
                  "triggers": {
                    "manual": {
                      "type": "Request",
                      "kind": "Http",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "subscriptionId": {
                                    "type": "string"
                                  },
                                  "clientState": {
                                    "type": "string"
                                  },
                                  "expirationDateTime": {
                                    "type": "string"
                                  },
                                  "resource": {
                                    "type": "string"
                                  },
                                  "tenantId": {
                                    "type": "string"
                                  },
                                  "resourceData": {
                                    "type": "object"
                                  }
                                }
                              }
                            },
                            "validationToken": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "actions": {
                    "Initialize_error_variable": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "hasError",
                            "type": "boolean",
                            "value": false
                          }
                        ]
                      },
                      "runAfter": {}
                    },
                    "Initialize_error_message": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "errorMessage",
                            "type": "string",
                            "value": ""
                          }
                        ]
                      },
                      "runAfter": {
                        "Initialize_error_variable": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Initialize_user_id": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "userId",
                            "type": "string",
                            "value": ""
                          }
                        ]
                      },
                      "runAfter": {
                        "Initialize_error_message": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Check_if_validation_request": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@trigger()['outputs']?['queries']?['validationToken']",
                                null
                              ]
                            }
                          }
                        ]
                      },
                      "actions": {
                        "Return_validation_token": {
                          "type": "Response",
                          "kind": "Http",
                          "inputs": {
                            "statusCode": 200,
                            "headers": {
                              "Content-Type": "text/plain"
                            },
                            "body": "@{trigger()['outputs']?['queries']?['validationToken']}"
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Return_accepted_response": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                              "statusCode": 202,
                              "headers": {
                                "Content-Type": "application/json"
                              },
                              "body": {
                                "status": "accepted",
                                "message": "Change notifications will be processed asynchronously"
                              }
                            },
                            "runAfter": {}
                          },
                          "For_each_notification": {
                            "type": "Foreach",
                            "foreach": "@triggerBody()?['value']",
                            "actions": {
                              "Set_user_id": {
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "userId",
                                  "value": "@{last(split(items('For_each_notification')?['resource'], '/'))}"
                                },
                                "runAfter": {}
                              },
                              "Process_user_scope": {
                                "type": "Scope",
                                "actions": {
                                  "Get_user_details": {
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}?$select=id,userPrincipalName,onPremisesImmutableId,onPremisesSyncEnabled,displayName,givenName,surname,mail,employeeId,department,companyName,jobTitle,mobilePhone,businessPhones",
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                      }
                                    },
                                    "runAfter": {}
                                  },
                                  "Parse_user_details": {
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Get_user_details')",
                                      "schema": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "userPrincipalName": {
                                            "type": "string"
                                          },
                                          "displayName": {
                                            "type": "string"
                                          },
                                          "onPremisesImmutableId": {
                                            "type": [
                                              "string",
                                              "null"
                                            ]
                                          },
                                          "onPremisesSyncEnabled": {
                                            "type": [
                                              "boolean",
                                              "null"
                                            ]
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Get_user_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Check_admin_unit_membership": {
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "https://graph.microsoft.com/v1.0/directory/administrativeUnits/@{parameters('adminUnitId')}/members?$filter=id eq '@{variables('userId')}'",
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                      }
                                    },
                                    "runtimeConfiguration": {
                                      "contentTransfer": {
                                        "transferMode": "Chunked"
                                      }
                                    },
                                    "runAfter": {
                                      "Parse_user_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Get_admin_unit_details": {
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "https://graph.microsoft.com/v1.0/directory/administrativeUnits/@{parameters('adminUnitId')}?$select=id,displayName",
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                      }
                                    },
                                    "runAfter": {
                                      "Parse_user_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Parse_admin_unit_details": {
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('Get_admin_unit_details')",
                                      "schema": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "displayName": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Get_admin_unit_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Parse_admin_unit_response": {
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@if(equals(outputs('Check_admin_unit_membership')?['statusCode'], 404), json('{\"value\":[]}'), body('Check_admin_unit_membership'))",
                                      "schema": {
                                        "type": "object",
                                        "properties": {
                                          "value": {
                                            "type": "array"
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Check_admin_unit_membership": [
                                        "Succeeded",
                                        "Failed"
                                      ],
                                      "Parse_admin_unit_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Check_if_in_admin_unit": {
                                    "type": "If",
                                    "expression": {
                                      "and": [
                                        {
                                          "greater": [
                                            "@length(body('Parse_admin_unit_response')?['value'])",
                                            0
                                          ]
                                        }
                                      ]
                                    },
                                    "actions": {
                                      "Log_user_in_admin_unit": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connection": {
                                              "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                          },
                                          "method": "post",
                                          "body": "@{json(concat('[{\"EventType\":\"UserInAdminUnit\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"AdminUnitId\":\"',parameters('adminUnitId'),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                          "headers": {
                                            "Log-Type": "HybridUserSync"
                                          },
                                          "path": "/api/logs"
                                        },
                                        "runAfter": {}
                                      },
                                      "Check_if_hybrid": {
                                        "type": "If",
                                        "expression": {
                                          "not": {
                                            "equals": [
                                              "@body('Parse_user_details')?['onPremisesImmutableId']",
                                              null
                                            ]
                                          }
                                        },
                                        "actions": {
                                          "Get_sync_behavior": {
                                            "type": "Http",
                                            "inputs": {
                                              "method": "GET",
                                              "uri": "https://graph.microsoft.com/beta/users/@{variables('userId')}/onPremisesSyncBehavior",
                                              "authentication": {
                                                "type": "ManagedServiceIdentity",
                                                "audience": "https://graph.microsoft.com"
                                              }
                                            },
                                            "runAfter": {}
                                          },
                                          "Parse_sync_behavior": {
                                            "type": "ParseJson",
                                            "inputs": {
                                              "content": "@body('Get_sync_behavior')",
                                              "schema": {
                                                "type": "object",
                                                "properties": {
                                                  "isCloudManaged": {
                                                    "type": [
                                                      "boolean",
                                                      "null"
                                                    ]
                                                  }
                                                }
                                              }
                                            },
                                            "runAfter": {
                                              "Get_sync_behavior": [
                                                "Succeeded"
                                              ]
                                            }
                                          },
                                          "Check_if_cloud_managed": {
                                            "type": "If",
                                            "expression": {
                                              "not": {
                                                "equals": [
                                                  "@body('Parse_sync_behavior')?['isCloudManaged']",
                                                  true
                                                ]
                                              }
                                            },
                                            "runAfter": {
                                              "Parse_sync_behavior": [
                                                "Succeeded"
                                              ]
                                            },
                                            "actions": {
                                              "Check_update_allowed": {
                                                "type": "If",
                                                "expression": {
                                                  "and": [
                                                    {
                                                      "equals": [
                                                        "@parameters('disableSourceOfAuthorityUpdate')",
                                                        false
                                                      ]
                                                    },
                                                    {
                                                      "or": [
                                                        {
                                                          "equals": [
                                                            "@length(parameters('allowedAdminUnitNames'))",
                                                            0
                                                          ]
                                                        },
                                                        {
                                                          "contains": [
                                                            "@parameters('allowedAdminUnitNames')",
                                                            "@body('Parse_admin_unit_details')?['displayName']"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                },
                                                "runAfter": {},
                                                "actions": {
                                                  "Log_setting_source_of_authority": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                      "host": {
                                                        "connection": {
                                                          "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                        }
                                                      },
                                                      "method": "post",
                                                      "body": "@{json(concat('[{\"EventType\":\"SettingSourceOfAuthority\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"ImmutableId\":\"',body('Parse_user_details')?['onPremisesImmutableId'],'\",\"IsCloudManaged\":\"false\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                      "headers": {
                                                        "Log-Type": "HybridUserSync"
                                                      },
                                                      "path": "/api/logs"
                                                    },
                                                    "runAfter": {}
                                                  },
                                                  "Set_source_of_authority": {
                                                    "type": "Http",
                                                    "inputs": {
                                                      "method": "PATCH",
                                                      "uri": "https://graph.microsoft.com/beta/users/@{variables('userId')}/onPremisesSyncBehavior",
                                                      "authentication": {
                                                        "type": "ManagedServiceIdentity",
                                                        "audience": "https://graph.microsoft.com"
                                                      },
                                                      "headers": {
                                                        "Content-Type": "application/json"
                                                      },
                                                      "body": {
                                                        "isCloudManaged": true
                                                      }
                                                    },
                                                    "runAfter": {
                                                      "Log_setting_source_of_authority": [
                                                        "Succeeded"
                                                      ]
                                                    }
                                                  },
                                                  "Log_source_of_authority_success": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                      "host": {
                                                        "connection": {
                                                          "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                        }
                                                      },
                                                      "method": "post",
                                                      "body": "@{json(concat('[{\"EventType\":\"SourceOfAuthoritySuccess\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                      "headers": {
                                                        "Log-Type": "HybridUserSync"
                                                      },
                                                      "path": "/api/logs"
                                                    },
                                                    "runAfter": {
                                                      "Set_source_of_authority": [
                                                        "Succeeded"
                                                      ]
                                                    }
                                                  }
                                                },
                                                "else": {
                                                  "actions": {
                                                    "Log_update_not_allowed": {
                                                      "type": "ApiConnection",
                                                      "inputs": {
                                                        "host": {
                                                          "connection": {
                                                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                          }
                                                        },
                                                        "method": "post",
                                                        "body": "@{json(concat('[{\"EventType\":\"SourceOfAuthorityUpdateNotAllowed\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"ImmutableId\":\"',body('Parse_user_details')?['onPremisesImmutableId'],'\",\"AdminUnitName\":\"',body('Parse_admin_unit_details')?['displayName'],'\",\"UpdateDisabled\":\"',parameters('disableSourceOfAuthorityUpdate'),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                        "headers": {
                                                          "Log-Type": "HybridUserSync"
                                                        },
                                                        "path": "/api/logs"
                                                      },
                                                      "runAfter": {}
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "else": {
                                              "actions": {
                                                "Log_already_cloud_managed": {
                                                  "type": "ApiConnection",
                                                  "inputs": {
                                                    "host": {
                                                      "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                      }
                                                    },
                                                    "method": "post",
                                                    "body": "@{json(concat('[{\"EventType\":\"AlreadyCloudManaged\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"ImmutableId\":\"',body('Parse_user_details')?['onPremisesImmutableId'],'\",\"IsCloudManaged\":\"true\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                    "headers": {
                                                      "Log-Type": "HybridUserSync"
                                                    },
                                                    "path": "/api/logs"
                                                  },
                                                  "runAfter": {}
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "else": {
                                          "actions": {
                                            "Log_provisioning_start": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                  }
                                                },
                                                "method": "post",
                                                "body": "@{json(concat('[{\"EventType\":\"ProvisioningStarted\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                "headers": {
                                                  "Log-Type": "HybridUserSync"
                                                },
                                                "path": "/api/logs"
                                              },
                                              "runAfter": {}
                                            },
                                            "Provision_user_to_ADDS": {
                                              "type": "Http",
                                              "inputs": {
                                                "method": "POST",
                                                "uri": "@{parameters('provisioningApiEndpoint')}",
                                                "authentication": {
                                                  "type": "ManagedServiceIdentity",
                                                  "audience": "https://graph.microsoft.com"
                                                },
                                                "headers": {
                                                  "Content-Type": "application/scim+json"
                                                },
                                                "body": {
                                                  "schemas": [
                                                    "urn:ietf:params:scim:api:messages:2.0:BulkRequest"
                                                  ],
                                                  "Operations": [
                                                    {
                                                      "method": "POST",
                                                      "bulkId": "@{guid()}",
                                                      "path": "/Users",
                                                      "data": {
                                                        "schemas": [
                                                          "urn:ietf:params:scim:schemas:core:2.0:User",
                                                          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                                                        ],
                                                        "externalId": "@{if(empty(body('Parse_user_details')?['employeeId']), utcNow('yyyyMMddHHmmss'), body('Parse_user_details')?['employeeId'])}",
                                                        "userName": "@{body('Parse_user_details')?['userPrincipalName']}",
                                                        "name": {
                                                          "givenName": "@{body('Parse_user_details')?['givenName']}",
                                                          "familyName": "@{body('Parse_user_details')?['surname']}"
                                                        },
                                                        "displayName": "@{body('Parse_user_details')?['displayName']}",
                                                        "emails": [
                                                          {
                                                            "value": "@{coalesce(body('Parse_user_details')?['mail'], body('Parse_user_details')?['userPrincipalName'])}",
                                                            "type": "work",
                                                            "primary": true
                                                          }
                                                        ],
                                                        "active": true,
                                                        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
                                                          "employeeNumber": "@{body('Parse_user_details')?['employeeId']}",
                                                          "department": "@{body('Parse_user_details')?['department']}",
                                                          "organization": "@{body('Parse_user_details')?['companyName']}"
                                                        }
                                                      }
                                                    }
                                                  ],
                                                  "failOnErrors": null
                                                }
                                              },
                                              "operationOptions": "DisableAsyncPattern",
                                              "runAfter": {
                                                "Log_provisioning_start": [
                                                  "Succeeded"
                                                ]
                                              }
                                            },
                                            "Log_provisioning_success": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                  }
                                                },
                                                "method": "post",
                                                "body": "@{json(concat('[{\"EventType\":\"ProvisioningSuccess\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                                "headers": {
                                                  "Log-Type": "HybridUserSync"
                                                },
                                                "path": "/api/logs"
                                              },
                                              "runAfter": {
                                                "Provision_user_to_ADDS": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Log_user_in_admin_unit": [
                                            "Succeeded"
                                          ]
                                        }
                                      }
                                    },
                                    "else": {
                                      "actions": {
                                        "Log_user_not_in_admin_unit": {
                                          "type": "ApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                              }
                                            },
                                            "method": "post",
                                            "body": "@{json(concat('[{\"EventType\":\"UserNotInAdminUnit\",\"UserId\":\"',variables('userId'),'\",\"UserPrincipalName\":\"',body('Parse_user_details')?['userPrincipalName'],'\",\"AdminUnitId\":\"',parameters('adminUnitId'),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                            "headers": {
                                              "Log-Type": "HybridUserSync"
                                            },
                                            "path": "/api/logs"
                                          },
                                          "runAfter": {}
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Parse_admin_unit_response": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Set_user_id": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Process_user_error_handler": {
                                "type": "Scope",
                                "actions": {
                                  "Set_error_flag": {
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "hasError",
                                      "value": true
                                    },
                                    "runAfter": {}
                                  },
                                  "Compose_error_details": {
                                    "type": "Compose",
                                    "inputs": {
                                      "userId": "@{variables('userId')}",
                                      "error": "@{result('Process_user_scope')}",
                                      "notification": "@{items('For_each_notification')}",
                                      "timestamp": "@{utcNow()}"
                                    },
                                    "runAfter": {
                                      "Set_error_flag": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Write_to_dead_letter": {
                                    "type": "Http",
                                    "inputs": {
                                      "method": "PUT",
                                      "uri": "https://@{parameters('deadLetterStorageAccount')}.blob.core.windows.net/@{parameters('deadLetterContainer')}/@{utcNow('yyyy-MM-dd_HHmmss')}_@{variables('userId')}.json",
                                      "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://storage.azure.com/"
                                      },
                                      "headers": {
                                        "x-ms-blob-type": "BlockBlob",
                                        "Content-Type": "application/json"
                                      },
                                      "body": "@outputs('Compose_error_details')"
                                    },
                                    "runAfter": {
                                      "Compose_error_details": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Log_error": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": "@{json(concat('[{\"EventType\":\"ProcessingError\",\"UserId\":\"',variables('userId'),'\",\"ErrorDetails\":\"',base64(string(result('Process_user_scope'))),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                      "headers": {
                                        "Log-Type": "HybridUserSync"
                                      },
                                      "path": "/api/logs"
                                    },
                                    "runAfter": {
                                      "Write_to_dead_letter": [
                                        "Succeeded"
                                      ]
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Process_user_scope": [
                                    "Failed",
                                    "Skipped",
                                    "TimedOut"
                                  ]
                                }
                              }
                            },
                            "runAfter": {
                              "Return_accepted_response": [
                                "Succeeded"
                              ]
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Initialize_user_id": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureloganalyticsdatacollector": {
                        "connectionId": "[resourceId('Microsoft.Web/connections', format('azureloganalyticsdatacollector-{0}', parameters('logicAppName')))]",
                        "connectionName": "[format('azureloganalyticsdatacollector-{0}', parameters('logicAppName'))]",
                        "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
                      }
                    }
                  }
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/connections', format('azureloganalyticsdatacollector-{0}', parameters('logicAppName')))]"
              ]
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[format('azureloganalyticsdatacollector-{0}', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Azure Log Analytics Connection",
                "api": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                  "username": "[parameters('logAnalyticsCustomerId')]",
                  "password": "[parameters('logAnalyticsPrimaryKey')]"
                }
              }
            },
            {
              "type": "Microsoft.Insights/diagnosticSettings",
              "apiVersion": "2021-05-01-preview",
              "scope": "[format('Microsoft.Logic/workflows/{0}', parameters('logicAppName'))]",
              "name": "diagnostics",
              "properties": {
                "workspaceId": "[parameters('logAnalyticsWorkspaceId')]",
                "logs": [
                  {
                    "category": "WorkflowRuntime",
                    "enabled": true
                  }
                ],
                "metrics": [
                  {
                    "category": "AllMetrics",
                    "enabled": true
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
              ]
            }
          ],
          "outputs": {
            "logicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            },
            "logicAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('deadLetterStorageName'), 'default', 'deadletter')]",
        "[resourceId('Microsoft.Storage/storageAccounts', variables('deadLetterStorageName'))]",
        "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]",
        "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "role-assignments-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "logicAppPrincipalId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2022-09-01').outputs.logicAppPrincipalId.value]"
          },
          "keyVaultId": {
            "value": "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]"
          },
          "deadLetterStorageId": {
            "value": "[resourceId('Microsoft.Storage/storageAccounts', variables('deadLetterStorageName'))]"
          },
          "renewallogicAppPrincipalId": {
            "value": "[reference(resourceId('Microsoft.Resources/deployments', 'subscription-renewal-deployment'), '2022-09-01').outputs.renewalLogicAppPrincipalId.value]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.26.54.24096",
              "templateHash": "628668766935324471"
            }
          },
          "parameters": {
            "logicAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Logic App Principal ID (System-Assigned Identity)"
              }
            },
            "renewallogicAppPrincipalId": {
              "type": "string",
              "metadata": {
                "description": "Renewal Logic App Principal ID (System-Assigned Identity)"
              }
            },
            "keyVaultId": {
              "type": "string",
              "metadata": {
                "description": "Key Vault Resource ID"
              }
            },
            "deadLetterStorageId": {
              "type": "string",
              "metadata": {
                "description": "Dead Letter Storage Account Resource ID"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('keyVaultId'), parameters('logicAppPrincipalId'), 'Key Vault Secrets Officer')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b86a8fe4-44ce-4948-aee5-eccb2c155cd7')]",
                "principalId": "[parameters('logicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('keyVaultId'), parameters('logicAppPrincipalId'), 'Key Vault Secrets Officer')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b86a8fe4-44ce-4948-aee5-eccb2c155cd7')]",
                "principalId": "[parameters('renewallogicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('deadLetterStorageId'), parameters('logicAppPrincipalId'), 'Storage Blob Data Contributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
                "principalId": "[parameters('logicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            },
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('deadLetterStorageId'), parameters('logicAppPrincipalId'), 'Storage Table Data Contributor')]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '0a9a7e1f-b9d0-4cc4-a60d-0319b160aaa3')]",
                "principalId": "[parameters('logicAppPrincipalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('deadLetterStorageName'))]",
        "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]",
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]",
        "[resourceId('Microsoft.Resources/deployments', 'subscription-renewal-deployment')]"
      ]
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "subscription-renewal-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "renewalLogicAppName": {
            "value": "[format('logic-{0}-renewal', variables('resourcePrefix'))]"
          },
          "keyVaultName": {
            "value": "[variables('keyVaultName')]"
          },
          "webhookCallbackUrl": {
            "value": "https://placeholder.com"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
          },
          "logAnalyticsCustomerId": {
            "value": "[reference(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), '2023-09-01').customerId]"
          },
          "logAnalyticsPrimaryKey": {
            "value": "[listKeys(resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName')), '2023-09-01').primarySharedKey]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.26.54.24096",
              "templateHash": "1256593769548982161"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for the Logic App"
              }
            },
            "renewalLogicAppName": {
              "type": "string",
              "metadata": {
                "description": "Name of the subscription renewal Logic App"
              }
            },
            "keyVaultName": {
              "type": "string",
              "metadata": {
                "description": "Key Vault name"
              }
            },
            "webhookCallbackUrl": {
              "type": "string",
              "metadata": {
                "description": "Main Logic App callback URL"
              }
            },
            "logAnalyticsWorkspaceId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics Workspace ID"
              }
            },
            "logAnalyticsCustomerId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics Workspace Customer ID (GUID)"
              }
            },
            "logAnalyticsPrimaryKey": {
              "type": "securestring",
              "metadata": {
                "description": "Log Analytics Workspace Primary Shared Key"
              }
            },
            "tags": {
              "type": "object",
              "metadata": {
                "description": "Tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Logic/workflows",
              "apiVersion": "2019-05-01",
              "name": "[parameters('renewalLogicAppName')]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "state": "Enabled",
                "definition": {
                  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                  "contentVersion": "1.0.0.0",
                  "parameters": {
                    "$connections": {
                      "defaultValue": {},
                      "type": "Object"
                    },
                    "keyVaultName": {
                      "defaultValue": "[parameters('keyVaultName')]",
                      "type": "String"
                    },
                    "webhookCallbackUrl": {
                      "defaultValue": "[parameters('webhookCallbackUrl')]",
                      "type": "String"
                    }
                  },
                  "triggers": {
                    "Recurrence": {
                      "type": "Recurrence",
                      "recurrence": {
                        "frequency": "Hour",
                        "interval": 35
                      }
                    }
                  },
                  "actions": {
                    "Initialize_subscription_id": {
                      "type": "InitializeVariable",
                      "inputs": {
                        "variables": [
                          {
                            "name": "subscriptionId",
                            "type": "string",
                            "value": ""
                          }
                        ]
                      },
                      "runAfter": {}
                    },
                    "Renewal_scope": {
                      "type": "Scope",
                      "actions": {
                        "Get_subscription_id_from_keyvault": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://@{parameters('keyVaultName')}.vault.azure.net/secrets/graph-subscription-id?api-version=7.4",
                            "authentication": {
                              "type": "ManagedServiceIdentity",
                              "audience": "https://vault.azure.net"
                            }
                          },
                          "runAfter": {}
                        },
                        "Parse_keyvault_response": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Get_subscription_id_from_keyvault')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Get_subscription_id_from_keyvault": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Check_if_subscription_exists": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@actions('Get_subscription_id_from_keyvault').status",
                                  "Succeeded"
                                ]
                              }
                            ]
                          },
                          "runAfter": {
                            "Parse_keyvault_response": [
                              "Succeeded",
                              "Skipped"
                            ]
                          },
                          "actions": {
                            "Set_subscription_id": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "subscriptionId",
                                "value": "@body('Parse_keyvault_response')?['value']"
                              },
                              "runAfter": {}
                            },
                            "Calculate_expiration": {
                              "type": "Compose",
                              "inputs": "@addMinutes(utcNow(), 4200)",
                              "runAfter": {
                                "Set_subscription_id": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Renew_subscription": {
                              "type": "Http",
                              "inputs": {
                                "method": "PATCH",
                                "uri": "https://graph.microsoft.com/v1.0/subscriptions/@{variables('subscriptionId')}",
                                "authentication": {
                                  "type": "ManagedServiceIdentity",
                                  "audience": "https://graph.microsoft.com"
                                },
                                "headers": {
                                  "Content-Type": "application/json"
                                },
                                "body": {
                                  "expirationDateTime": "@{outputs('Calculate_expiration')}"
                                }
                              },
                              "runAfter": {
                                "Calculate_expiration": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Log_renewal_success": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": "@{json(concat('[{\"EventType\":\"SubscriptionRenewalSuccess\",\"SubscriptionId\":\"',variables('subscriptionId'),'\",\"NewExpiration\":\"',outputs('Calculate_expiration'),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                "headers": {
                                  "Log-Type": "HybridUserSync"
                                },
                                "path": "/api/logs"
                              },
                              "runAfter": {
                                "Renew_subscription": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Log_creating_new_subscription": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": "@{json(concat('[{\"EventType\":\"CreatingNewSubscription\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                  "headers": {
                                    "Log-Type": "HybridUserSync"
                                  },
                                  "path": "/api/logs"
                                },
                                "runAfter": {}
                              },
                              "Calculate_new_expiration": {
                                "type": "Compose",
                                "inputs": "@addMinutes(utcNow(), 4200)",
                                "runAfter": {
                                  "Log_creating_new_subscription": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Create_subscription": {
                                "type": "Http",
                                "inputs": {
                                  "method": "POST",
                                  "uri": "https://graph.microsoft.com/v1.0/subscriptions",
                                  "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://graph.microsoft.com"
                                  },
                                  "headers": {
                                    "Content-Type": "application/json"
                                  },
                                  "body": {
                                    "changeType": "updated",
                                    "notificationUrl": "@{parameters('webhookCallbackUrl')}",
                                    "resource": "/users",
                                    "expirationDateTime": "@{outputs('Calculate_new_expiration')}",
                                    "clientState": "HybridUserSync"
                                  }
                                },
                                "runAfter": {
                                  "Calculate_new_expiration": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Parse_create_response": {
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@body('Create_subscription')",
                                  "schema": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "resource": {
                                        "type": "string"
                                      },
                                      "changeType": {
                                        "type": "string"
                                      },
                                      "expirationDateTime": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Create_subscription": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Store_subscription_id": {
                                "type": "Http",
                                "inputs": {
                                  "method": "PUT",
                                  "uri": "https://@{parameters('keyVaultName')}.vault.azure.net/secrets/graph-subscription-id?api-version=7.4",
                                  "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "audience": "https://vault.azure.net"
                                  },
                                  "headers": {
                                    "Content-Type": "application/json"
                                  },
                                  "body": {
                                    "value": "@{body('Parse_create_response')?['id']}"
                                  }
                                },
                                "runAfter": {
                                  "Parse_create_response": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Log_creation_success": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": "@{json(concat('[{\"EventType\":\"SubscriptionRenewalSuccess\",\"SubscriptionId\":\"',body('Parse_create_response')?['id'],'\",\"NewExpiration\":\"',outputs('Calculate_new_expiration'),'\",\"Action\":\"Created\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                                  "headers": {
                                    "Log-Type": "HybridUserSync"
                                  },
                                  "path": "/api/logs"
                                },
                                "runAfter": {
                                  "Store_subscription_id": [
                                    "Succeeded"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Initialize_subscription_id": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Handle_renewal_error": {
                      "type": "Scope",
                      "actions": {
                        "Log_renewal_failure": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": "@{json(concat('[{\"EventType\":\"SubscriptionRenewalFailure\",\"ErrorDetails\":\"',base64(string(result('Renewal_scope'))),'\",\"Timestamp\":\"',utcNow(),'\"}]'))}",
                            "headers": {
                              "Log-Type": "HybridUserSync"
                            },
                            "path": "/api/logs"
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Renewal_scope": [
                          "Failed",
                          "Skipped",
                          "TimedOut"
                        ]
                      }
                    }
                  },
                  "outputs": {}
                },
                "parameters": {
                  "$connections": {
                    "value": {
                      "azureloganalyticsdatacollector": {
                        "connectionId": "[resourceId('Microsoft.Web/connections', format('azureloganalyticsdatacollector-{0}', parameters('renewalLogicAppName')))]",
                        "connectionName": "[format('azureloganalyticsdatacollector-{0}', parameters('renewalLogicAppName'))]",
                        "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
                      }
                    }
                  }
                }
              },
              "dependsOn": [
                "[resourceId('Microsoft.Web/connections', format('azureloganalyticsdatacollector-{0}', parameters('renewalLogicAppName')))]"
              ]
            },
            {
              "type": "Microsoft.Web/connections",
              "apiVersion": "2016-06-01",
              "name": "[format('azureloganalyticsdatacollector-{0}', parameters('renewalLogicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Azure Log Analytics Connection (Renewal)",
                "api": {
                  "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
                },
                "parameterValues": {
                  "username": "[parameters('logAnalyticsCustomerId')]",
                  "password": "[parameters('logAnalyticsPrimaryKey')]"
                }
              }
            },
            {
              "type": "Microsoft.Insights/diagnosticSettings",
              "apiVersion": "2021-05-01-preview",
              "scope": "[format('Microsoft.Logic/workflows/{0}', parameters('renewalLogicAppName'))]",
              "name": "diagnostics",
              "properties": {
                "workspaceId": "[parameters('logAnalyticsWorkspaceId')]",
                "logs": [
                  {
                    "category": "WorkflowRuntime",
                    "enabled": true
                  }
                ],
                "metrics": [
                  {
                    "category": "AllMetrics",
                    "enabled": true
                  }
                ]
              },
              "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('renewalLogicAppName'))]"
              ]
            }
          ],
          "outputs": {
            "renewalLogicAppId": {
              "type": "string",
              "value": "[resourceId('Microsoft.Logic/workflows', parameters('renewalLogicAppName'))]"
            },
            "renewalLogicAppName": {
              "type": "string",
              "value": "[parameters('renewalLogicAppName')]"
            },
            "renewalLogicAppPrincipalId": {
              "type": "string",
              "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('renewalLogicAppName')), '2019-05-01', 'full').identity.principalId]"
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.KeyVault/vaults', variables('keyVaultName'))]",
        "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
      ]
    },
    {
      "condition": "[parameters('deployMonitoring')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "monitoring-deployment",
      "properties": {
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "mode": "Incremental",
        "parameters": {
          "location": {
            "value": "[parameters('location')]"
          },
          "logicAppName": {
            "value": "[variables('logicAppName')]"
          },
          "logAnalyticsWorkspaceId": {
            "value": "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
          },
          "actionGroupId": {
            "value": "[resourceId('Microsoft.Insights/actionGroups', variables('actionGroupName'))]"
          },
          "tags": {
            "value": "[parameters('tags')]"
          }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "metadata": {
            "_generator": {
              "name": "bicep",
              "version": "0.26.54.24096",
              "templateHash": "405521423003511197"
            }
          },
          "parameters": {
            "location": {
              "type": "string",
              "metadata": {
                "description": "Location for monitoring resources"
              }
            },
            "logicAppName": {
              "type": "string",
              "metadata": {
                "description": "Logic App name to monitor"
              }
            },
            "logAnalyticsWorkspaceId": {
              "type": "string",
              "metadata": {
                "description": "Log Analytics Workspace ID"
              }
            },
            "actionGroupId": {
              "type": "string",
              "metadata": {
                "description": "Action Group ID for alerts"
              }
            },
            "tags": {
              "type": "object",
              "metadata": {
                "description": "Tags"
              }
            }
          },
          "resources": [
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-failures', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Logic App Run Failures",
                "description": "Alert when Logic App runs fail",
                "severity": 2,
                "enabled": true,
                "evaluationFrequency": "PT5M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT5M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "[format('AzureDiagnostics\n| where ResourceProvider == \"MICROSOFT.LOGIC\"\n| where resource_workflowName_s == \"{0}\"\n| where status_s == \"Failed\"\n| summarize Count = count() by bin(TimeGenerated, 5m)', parameters('logicAppName'))]",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-processing-errors', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "User Processing Errors",
                "description": "Alert when user processing encounters errors",
                "severity": 2,
                "enabled": false,
                "evaluationFrequency": "PT5M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT5M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"ProcessingError\"\n| summarize Count = count() by bin(TimeGenerated, 5m)",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-provisioning-success', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Successful User Provisioning",
                "description": "Notification when users are successfully provisioned to AD DS",
                "severity": 3,
                "enabled": false,
                "evaluationFrequency": "PT15M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT15M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"ProvisioningSuccess\"\n| summarize Count = count() by bin(TimeGenerated, 15m)",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-renewal-success', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Subscription Renewal Success",
                "description": "Heartbeat: Subscription successfully renewed",
                "severity": 3,
                "enabled": false,
                "evaluationFrequency": "PT15M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT15M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"SubscriptionRenewalSuccess\"\n| summarize Count = count() by bin(TimeGenerated, 15m)",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-renewal-failure', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Subscription Renewal Failure",
                "description": "Alert when subscription renewal fails",
                "severity": 1,
                "enabled": false,
                "evaluationFrequency": "PT5M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT5M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"SubscriptionRenewalFailure\"\n| summarize Count = count() by bin(TimeGenerated, 5m)",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-no-renewal-heartbeat', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "No Subscription Renewal (Heartbeat)",
                "description": "Alert when no subscription renewal has occurred in the last 48 hours",
                "severity": 1,
                "enabled": false,
                "evaluationFrequency": "PT1H",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT48H",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"SubscriptionRenewalSuccess\"\n| summarize Count = count()",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "LessThanOrEqual",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            },
            {
              "type": "Microsoft.Insights/scheduledQueryRules",
              "apiVersion": "2023-03-15-preview",
              "name": "[format('alert-{0}-soa-success', parameters('logicAppName'))]",
              "location": "[parameters('location')]",
              "tags": "[parameters('tags')]",
              "properties": {
                "displayName": "Source of Authority Change Success",
                "description": "Notification when source of authority is successfully changed to Entra",
                "severity": 3,
                "enabled": false,
                "evaluationFrequency": "PT15M",
                "scopes": [
                  "[parameters('logAnalyticsWorkspaceId')]"
                ],
                "windowSize": "PT15M",
                "criteria": {
                  "allOf": [
                    {
                      "query": "HybridUserSync_CL\n| where EventType_s == \"SourceOfAuthoritySuccess\"\n| summarize Count = count() by bin(TimeGenerated, 15m)",
                      "timeAggregation": "Total",
                      "metricMeasureColumn": "Count",
                      "dimensions": [],
                      "operator": "GreaterThan",
                      "threshold": 0,
                      "failingPeriods": {
                        "numberOfEvaluationPeriods": 1,
                        "minFailingPeriodsToAlert": 1
                      }
                    }
                  ]
                },
                "actions": {
                  "actionGroups": [
                    "[parameters('actionGroupId')]"
                  ]
                },
                "autoMitigate": true
              }
            }
          ],
          "outputs": {
            "alertIds": {
              "type": "array",
              "value": [
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-failures', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-processing-errors', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-provisioning-success', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-renewal-success', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-renewal-failure', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-no-renewal-heartbeat', parameters('logicAppName')))]",
                "[resourceId('Microsoft.Insights/scheduledQueryRules', format('alert-{0}-soa-success', parameters('logicAppName')))]"
              ]
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Insights/actionGroups', variables('actionGroupName'))]",
        "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]",
        "[resourceId('Microsoft.Resources/deployments', 'logicapp-deployment')]"
      ]
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicAppName')]"
    },
    "renewalLogicAppName": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'subscription-renewal-deployment'), '2022-09-01').outputs.renewalLogicAppName.value]"
    },
    "keyVaultName": {
      "type": "string",
      "value": "[variables('keyVaultName')]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'logicapp-deployment'), '2022-09-01').outputs.logicAppPrincipalId.value]"
    },
    "renewalLogicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Resources/deployments', 'subscription-renewal-deployment'), '2022-09-01').outputs.renewalLogicAppPrincipalId.value]"
    },
    "deadLetterStorageAccountName": {
      "type": "string",
      "value": "[variables('deadLetterStorageName')]"
    },
    "logAnalyticsWorkspaceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.OperationalInsights/workspaces', variables('logAnalyticsName'))]"
    },
    "actionGroupName": {
      "type": "string",
      "value": "[variables('actionGroupName')]"
    }
  }
}